TRACK_MULTICAST_ADDRESS=
TRACK_MULTICAST_PORT=
PLOT_MULTICAST_ADDRESS=
PLOT_MULTICAST_PORT=
DETECTION_MULTICAST_ADDRESS=
DETECTION_MULTICAST_PORT=
DWELL_PLAYED_MULTICAST_ADDRESS=
DWELL_PLAYED_MULTICAST_PORT=
DWELL_REQUEST_MULTICAST_ADDRESS=
DWELL_REQUEST_MULTICAST_PORT=
SP_SYNC_MULTICAST_ADDRESS=
SP_SYNC_MULTICAST_PORT=
STM_SP_MULTICAST_ADDRESS=
STM_SP_MULTICAST_PORT=
DATA_READER_OUTPUT_DIR=./DataReader
DATA_READER_API_PORT=47831
DATA_READER_TEST_MODE=false
